.main-signup{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
    
   
}
.outer{
    
    display:flex;
    justify-content:center;
    align-items:center;
}
h1{
    margin-top: 40px;
    margin-left:90px;
    text-shadow:5px 5px 10px ;
}
h2{
    margin-top: 40px;
    text-shadow:5px 5px 10px ;
}
.border
{
    
    box-shadow: 10px 15px 15px rgb(235, 142, 142);
    color: crimson;
    width: 400px;
    height: 550px;
    margin-top: 130px;
    
}
/* button{
    width:400px;
    height:30px;
    margin-top:100px;
    background-color:red;
    font-size:25px;
    
} */
body{
    background-image: url(https://images.pexels.com/photos/4041241/pexels-photo-4041241.jpeg?auto=compress&cs=tinysrgb&w=600);
    background-size: cover;
}
